
@media (max-width: 767px){
  .carousel-inner img {
    height: 210px;
}

}


@media (max-width: 567px){
  .hotdetals_card1{
    flex-direction: column;
    background-size: inherit;
  
  }
  .hotcard_rightimage{
    justify-content: end;
  }
 
}